/* General CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
}
html{
font-family: 'Roboto', sans-serif;
}
body{
    background: #2596be;
}
/* Navbar section started */
header{
    position: fixed;
    width: 100%;
    border-bottom: 4px solid #94afc7;

}
#navbar{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
    user-select: none;
    
}
#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;            
}
#navbar ul li a{
    padding: 0.75rem;
}
#navbar ul li a:hover{
    background: #336ea2;
    border-radius: 5px;
    transition: 200ms;
    border-bottom: 2px solid black;
    transition: border .5s;
}
/* Navbar section ends */
/* Home section started */
#home{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: #2596be;
    padding-top: 6.5rem;
}
#home img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    border: 4px solid #041014;
}
#home .name h2{
    margin-bottom: 0.75rem;
    letter-spacing: 1px;
}
#home .name p{
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
}
#home .links{
    padding-top: 1rem;
}
#home a{
    color: #fff;
    font-size: 2rem;
    margin: 0.3rem;
    padding: 0.1rem 0.3rem; 
    border: 0.5px solid transparent;
    border-radius: 8px;
}
#home a:hover{  
    color: white;
    background: #2a4e6d;
    border-radius: 12px;
    border: 0.5px solid black;
    transition: 0.1s;
    transition: border 0.5s;
}
/* Home section ends */
/* Aboutme section started */
#aboutme{
    /* background: #336ea2; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem; 
    padding-bottom: 2rem; 
    align-items: center;
    margin: 0 auto;
}
#aboutme .aboutme{
    color: #fff;
    margin-left: 20%;
    flex-grow: 1;
}
#aboutme #para1{
    color: #fff;
    text-align: left;
    text-indent:2rem;
    margin: 0 15rem 0 7rem;
    user-select: none;
    flex-grow: 2;
}
#aboutme #para1 p{
    padding: 0.75rem 0;
    letter-spacing: 0.5px;
}
/* Aboutme section ends */
/* Education section started */
#schoolTable{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card{  
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 350px;
    justify-content: space-between;
    align-items:center;
    padding: 1rem 1rem;
    background: #b4c3be;
    border: 2px solid #c8d8d3;
    border-radius: 12px;
    font-size: 1rem;
    text-align: center;
    margin: 0 0.75rem 2rem 0.75rem;
    overflow: hidden;
    user-select: none;
}
.card:hover{
    background: hsla(160, 11%, 74%, 0.9);
    border: 2px solid #8aa79d;
    transition: .4s ease-out;    
}
.card #logo{
    width: auto;
    height: 60px; 
}
.card a{
    color: black;
    font-size: 1rem;
    border: 1px solid transparent;
    user-select: all;
}
.card a:hover{
    background-color: #1a7596;
    border: 1px solid #94afc7;
    border-radius: 4px;
    transition: .2s ease;
}
/* Education section ends */
/* Contact Me section starts */
#contactme{
    color: #fff;
    padding: 1rem;
}
#contactme .contact-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
#contactme .contact-form ul{
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #fff;
}
#contactme .contact-form ul li a{
    padding: 0.5rem;
    font-size: 1.25rem;
}
#contactme .contact-form ul li a:hover{
    opacity: 0.6;
}
#contactme .contact-form button{
    color: #fff;
    width: 100%;
    padding: 0.5rem;
    background: #2596be;
    border: 0;
    border-radius: 5px;
}
#contactme .contact-form button:hover{
    background: #1a7596;
}
#contactme .contact-form p{
    margin: 0 auto;
    padding-top: 0.25rem;
    opacity: 0.6;
    font-size: 0.8rem;
    
}
